{{extend 'layout_admin.html'}}
<h2>Management Interface</h2>
{{=grid}}
<br/>
<h4> List of Non-admins </h4>
<br/>
{{for i in range(len(users)):}}

	{{flag=0}}

	{{ for j in range(len(man)):}}
		{{if users[i].id==man[j].user_id :}}
			{{flag=1}}
		{{pass}}
	{{pass}}
	{{if flag==0 :}}
		{{=users[i].id}}
		&nbsp; &nbsp;&nbsp;&nbsp;
		{{=users[i].first_name}}
		{{=users[i].last_name}}
		&nbsp; &nbsp;&nbsp;&nbsp;
		{{=users[i].email}}
		&nbsp; &nbsp;&nbsp;&nbsp;
		{{=A("Make Admin" , _href=URL("add_manager", args = [users[i].id, man[0].group_id]))}}
		</br>
	{{pass}}
{{pass}}
<br/>
<h4> Details of Managers </h4>
{{=man}}
<br/>
<h4> Details of Users </h4>
{{=users}}
